/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2018, 12:52:51 PM
    Author     : Tony

*/

.mybrand
{
    font-family:cursive;
  
    font-style: italic;
    color:rgba(255, 56, 86, 1);
    font-weight: bold;
}

.mybrand:hover
{
    font-weight: bolder;
    color:lemonchiffon;
    
}
.mynavbtn
{
    background-color: rgba(255, 56, 86, 1);
    color:lemonchiffon;
    border: none;
 
    
}
.jumbotron {
  
  margin-top : -20px;
  background-color: white
}

.register-form
{
    margin-top: -30px;
}